
<!doctype html>

<html lang="en" ng-app="project">
<head>
  <meta charset="utf-8">

  <title>TMS Polling - Organizer</title>
  <meta name="description" content="TMS Polling - Organizer Panel">
  <meta name="author" content="Aditya Raju">

  <link rel="stylesheet/less" type="text/css" href="organiser.less">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="organiser.js"></script>

</head>

<body>
<!--<div class="_bg-background-dark">-->
	<!--<label class="_c-text-inverted topbar">TMS Polling</label>-->
<!--</div>-->
	<!--<div class="row">-->
		<!--<div class="large-12 columns">-->
			<!--<div><h3>Organiser Panel</h3></div>-->
		<!--</div>-->
	<!--</div>-->

<div ng-controller="LoginController">
	<form id="organizer-login" ng-hide="loginStatus">
		<fieldset class="_bg-background-light">
			<div class="heading">
				Organizer Panel
			</div>
			<br>
			<div>
				<div>
					<label>Username</label>
					<input type="text" id="username1" ng-model="user.username" placeholder="Organiser Name"></input>
				</div>
				<div>
					<label for="password1" >Password</label>
					<input type="password" id="password1" ng-model="user.password" placeholder="Password">
				</div>
				<div>
					<button type=button class="button success expanded" id="logButton" ng-click="handleLogin()">
						Log in
					</button>
				</div>
			</div>
		</fieldset>
	</form>

	<div class="row">
		<!--<div ng-hide="loginStatus">-->
			<!--<div class="large-5 columns">-->
				<!--<input type="text" id="username" ng-model="user.username" placeholder="Organiser Name"></input>-->
			<!--</div>-->
			<!--<div class="large-5 columns">-->
				<!--<input type="password" id="password" ng-model="user.password" placeholder="Password"></input>-->
			<!--</div>-->
			<!--<div class="large-2 columns">-->
				<!--<button type="button" class="button success expanded" ng-click="handleLogin()">Log In</button>-->
			<!--</div>-->
			<!--&lt;!&ndash;<div>{{user}}</div>&ndash;&gt;-->
		<!--</div>-->
		<div id="resetPassword" ng-hide="!loginStatus">
			<div class="large-5 columns" ng-show="!oldPasswordMatch">
				<input type="password" id="password_reset" ng-model="password.old" placeholder="Enter old Password">
			</div>
			<div class="large-2 columns" ng-show="!oldPasswordMatch">
				<button type="button" class="button success expanded" ng-click="checkReset()">Reset Password</button>
			</div>
			<div class="large-5 columns" ng-show="oldPasswordMatch">
				<input type="password" id="new_password" ng-model="password.new" placeholder="Enter new Password">
			</div>
			<div class="large-2 columns" ng-show="oldPasswordMatch">
				<button type="button" class="button warning expanded" ng-click="handleReset()">Confirm Reset</button>
			</div>
			<div class="large-2 columns" ng-show="oldPasswordMatch">
				<button type="button" class="button success expanded" ng-click="revertReset()">Cancel</button>
			</div>
			<div class="large-3 columns" ng-show="!oldPasswordMatch">
			</div>
			<div class="large-1 columns" ng-show="oldPasswordMatch">
			</div>
			<div class="large-2 columns">
				<button type="button" class="button success expanded" ng-click="handleLogout()">Log Out</button>
			</div>
		</div>
	</div>
</div>
	<div class="row" ng-controller="VoterList" ng-show="loginStatus">
		<div>
			<div class="large-12 columns">
				<div class="header">
					<div class="row">
						<div class="medium-6 columns">
							<h4>Unregistered Voters</h4>
						</div>
					</div>
				</div>
				<div class="callout secondary" ng-repeat="unregVoter in unregVoters track by $index">
					<span class="voterNameSpan"><b>{{unregVoter.name}}</b></span>
					<span class="label primary voterNameSpan">{{unregVoter.nric}}</span>
					<span class="label secondary">{{unregVoter.shares}}</span>
					<button class="close-button tickButton" type="button" ng-click="handleRegister(unregVoter)" >
						<i class="fa fa-check" aria-hidden="true"></i>
					</button>
					<button class="close-button" type="button" ng-click="handleDelete(unregVoter)">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="callout success" ng-show="!unregVoters.length">
					All Voters Registered!
				</div>
				<div class="header">
					<div class="row">
						<div class="medium-3 columns">
							<h4>Registered Voters</h4>
						</div>
						<div class="medium-2 columns">
							<button type="button" class="button primary hollow" ng-click="concludeAddVoter()" ng-show="activeEvent != null">
								Done Adding
							</button>
						</div>
					</div>
				</div>
				<div ng-class="activeVoters.indexOf(regVoter.id) != -1 ? 'callout success' : 'callout secondary'" ng-repeat="regVoter in regVoters track by $index">
					<span class="voterNameSpan"><b>{{regVoter.name}}</b></span>
					<span class="label primary voterNameSpan">{{regVoter.nric}}</span>
					<span class="label secondary voterNameSpan">{{regVoter.shares}}</span>
					<button class="close-button" type="button" ng-click="handleDelete(regVoter)" ng-hide="activeEvent != null">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
					<button class="close-button" type="button" ng-show="activeVoters.indexOf(regVoter.id) == -1 && activeEvent != null" ng-click="addVoterEvent(regVoter.id)">
						+
					</button>
				</div>
				<div class="callout warning" ng-show="!regVoters.length">
					No Registered Voters!
				</div>
				
			</div>
		</div>
	</div>
	<div ng-controller="EventList" ng-show="loginStatus">
		<div class="row">
			<div class="large-12 columns">
				<div class="header">
					<h4>Events</h4>
				</div>
			</div>
		</div>
		<div>
			<div ng-repeat="row in events" class="row">
				<div class="large-6 columns" ng-repeat="event in row">
					<div ng-class="{'callout secondary' : !event.started && !event.ended, 'callout alert': event.ended, 'callout success' : event.started}">
						<div class="row">
							<div class="medium-8 columns">
								<h5>{{event.name}} <span class="label secondary voterLabelText">Voters: {{event.voters.length}}</span></h5>
							</div>
							<div class="medium-2 columns">
								<button type="button" class="button alert hollow expanded" ng-click="deleteEvent(event.id)">
									<i class="fa fa-minus" aria-hidden="true"></i>
								</button>
							</div>
						</div>
						

						<div class="row">
							<div class="medium-4 columns">
								<button class="button success tiny" ng-click="startEvent(event.id)" ng-hide="event.started">Start</button>
								<button class="button error tiny" ng-click="endEvent(event.id)" ng-show="event.started && !event.ended">End</button>
								<button class="button primary tiny" ng-click="addVoters(event.id,event.voters)" ng-hide="event.ended">Add voters</button>
							</div>
							<div class="medium-8 columns">
							</div>
						</div>
						
						<div ng-repeat="each in event.questions track by $index" class="callout primary" ng-hide="event.started">
							<div class="row">
								<div class="medium-10 columns">
									<h6><b>{{($index + 1) + ". " + each.question}}</b></h6>
								</div>
								<div class="medium-2 columns">
									<button type="button" class="button warning hollow expanded tiny" ng-click="deleteQuestion(each.id)">
										<i class="fa fa-minus-circle" aria-hidden="true"></i>
									</button>
								</div>
							</div>
							
							<div ng-init="choices = transformQuadRow(each.choices)" >
								<div ng-repeat="row in choices" class="row">
									<div class="medium-6 columns" ng-repeat="choice in row">
										<li>{{choice}}</li>
									</div>
								</div>
							</div>
						</div>

						<div ng-show="event.started" ng-init="resultIndex = findIndex(event.id)">
							<div class="callout primary" ng-repeat="question in resultsArray[resultIndex].data">
								<div class="row">
									<div class="medium columns">
										{{question.question}}
									</div>
								</div>
								<div class="row eachVis">
									<div class="medium columns">
										<div ng-repeat="vote in question.votes track by $index" style="display: inline-block;"> 
											<div ng-style="computeStyle(vote[1], $index)" ng-show="vote[1] != 0">
												<p class="graphLabel">{{vote[0] + " (" + roundValue(vote[1]) + "%)"}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div ng-model="question" ng-hide="event.started">	
							<div class="row">
								<div class="medium columns">
									<div class="row">
										<div class="medium-3 columns">
											<h6>New question</h6>
										</div>
										<div class="medium-2 columns">
											<button class="button warning hollow tiny" type="button" ng-click="refreshQuestion(question)"><i class="fa fa-refresh" aria-hidden="true"></i></button>
										</div>
										<div class="medium-7 columns">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="medium-10 columns">
									<input type="text" placeholder="Add question" ng-model="question.prompt">
								</div>
								<div class="medium-2 columns">
									<button type="button" class="hollow button success expanded" ng-click="addQuestion(question,event.id)">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>
								</div>
							</div>
							<div class="row" ng-init="question.choices = [[null,null]]">
								<div ng-repeat="row in question.choices">
								<div class="medium-5 columns" ng-repeat="choice in row track by $index">
									<input type="text" placeholder="Choice {{$index + 1}}" ng-model="row[$index]">
								</div>
								<div class="medium-2 columns">
									<button type="button" class="hollow button secondary expanded" ng-click="addChoice(question.choices)">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="medium columns">
					<div class="callout warning" ng-show="!events.length">
						No events currently!
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="medium columns">
				<h5>Add New Event</h5>
			</div>
		</div>
		<div class="row">
			<div class="medium-10 columns">
				<input type="text" placeholder="Add new event" ng-model="newEvent">
			</div>
			<div class="medium-2 columns">
				<button type="button" class="button success expanded" ng-click="addEvent()">
					<i class="fa fa-plus" aria-hidden="true"></i>
				</button>
		</div>
		
	</div>
</body>

</html>