.voterNameSpan {
	margin-right: 8px;
}

.tickButton {
	margin-right: 40px;
}
.voterLabelText {
	font-size: 20px;
	margin-left: 15px;
}
.graphLabel {
	padding: 3px;
	margin-left: 5px;
	color: white;
}
.eachVis {
	margin-top: 10px;
}.topbar{
	padding-left: 10px;
	font-size: 20px;
	color: white;
	background-color: dimgrey;
	width:100%;
}