.voterNameSpan {
	margin-right: 8px;
}

.tickButton {
	margin-right: 40px;
}
.voterLabelText {
	font-size: 20px;
	margin-left: 15px;
}
.topbar{
	padding-left: 10px;
	font-size: 20px;
	color: white;
	background-color: dimgrey;
	width:100%;
}