
<!doctype html>

<html lang="en" ng-app="project">
<head>
  <meta charset="utf-8">

  <title>TMS Polling - Admin Panel</title>
  <meta name="description" content="TMS Polling - Admin Panel">
  <meta name="author" content="Aditya Raju">

  <link rel="stylesheet/less" type="text/css" href="organiser.less">
  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script type="text/javascript" src="organiser.js"></script>

</head>

<body>
	<div class="row">
		<div class="large-12 columns">
			<div><h3>Organiser Panel</h3></div>
		</div>
	</div>
	<div class="row" ng-controller="LoginController">
		<div ng-hide="loginStatus">
			<div class="large-5 columns">
				<input type="text" id="username" ng-model="user.username" placeholder="Organiser Name"></input>
			</div>
			<div class="large-5 columns">
				<input type="password" id="password" ng-model="user.password" placeholder="Password"></input>
			</div>
			<div class="large-2 columns">
				<button type="button" class="button success expanded" ng-click="handleLogin()">Log In</button>
			</div>
			<div>{{user}}</div>
		</div>
		<div ng-hide="!loginStatus">
			<div class="large-5 columns">
				<input type="password" id="password_reset" ng-model="password.old" placeholder="Enter old Password">
			</div>
			<div class="large-2 columns">
				<button type="button" class="button success expanded" ng-click="handleReset()">Reset Password</button>
			</div>
			<div class="large-3 columns">
			</div>
			<div class="large-2 columns">
				<button type="button" class="button success expanded" ng-click="handleLogout()">Log Out</button>
			</div>
		</div>
	</div>
	<div class="row" ng-controller="VoterList" ng-show="loginStatus">
		<div>
			<div class="large-12 columns">
				<div class="header">
					<h4>Unregistered Voters</h4>
				</div>
				<div class="callout secondary" ng-repeat="unregVoter in unregVoters track by $index">
					<span class="voterNameSpan"><b>{{unregVoter.name}}</b></span><span class="label primary voterNameSpan">{{unregVoter.nric}}</span><span class="label secondary">{{unregVoter.shares}}</span>
					<button class="close-button tickButton" type="button" ng-click="handleRegister(unregVoter)" >
						<i class="fa fa-check" aria-hidden="true"></i>
					</button>
					<button class="close-button" type="button" ng-click="handleDelete(unregVoter)">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="callout success" ng-show="!unregVoters.length">
					All Voters Registered!
				</div>
				<div class="header">
					<h4>Registered Voters</h4>
				</div>
				<div class="callout secondary" ng-repeat="regVoter in regVoters track by $index">
					<span class="voterNameSpan"><b>{{unregVoter.name}}</b></span><span class="label primary voterNameSpan">{{unregVoter.nric}}</span><span class="label secondary">{{unregVoter.shares}}</span>
					<button class="close-button" type="button" ng-click="handleDelete(unregVoter)">
						<i class="fa fa-times" aria-hidden="true"></i>
					</button>
				</div>
				<div class="callout warning" ng-show="!regVoters.length">
					No Registered Voters!
				</div>
				
			</div>
		</div>
	</div>
</body>

</html>