.basic-grey {
    margin-left: 15px;
    margin-right:auto;
    max-width: 700px;
    background: #F7F7F7;
    font-size: 15px;
    padding: 10px 15px;
    color: #888;
    position: relative;
    
    border:1px solid #E4E4E4;
}

.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 5px;
}

.basic-grey input[type="text"] {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 5px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:20px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

/*.basic-grey .button {*/
    /*background: #E27575;*/
    /*border: none;*/
    /*padding: 10px 25px 10px 25px;*/
    /*color: #FFF;*/
    /*!*box-shadow: 1px 1px 5px #B6B6B6;*!*/
    /*border-radius: 3px;*/
    /*font-size: 14px;*/
    /*text-shadow: 1px 1px 1px #9E3F3F;*/
    /*cursor: pointer;*/
    /*align-content: center;*/

/*}*/
.basic-grey .button:hover {
    background: #CF7A7A
}